DirectoryIndex index.php
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:0hOmcf2Sq7
allow from 127.0.0.1
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 0hOmcf2Sq7:IPALLOWID


RewriteEngine On
RewriteBase /admin/
RewriteCond %{REQUEST_URI} ^/admin/$
RewriteRule ^(.*)$ panel_admin.php [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L]